.cp-container1 {
  display: flex;
  background: linear-gradient(15deg, #005596 0%, #ce1127 100%); 
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;  /* Center content horizontally */
}

.cp-container2 {
  display: flex;
  width: 80%;
  height: 80%;
  max-width: 1200px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}



.cp-container3 {
  flex: 7; /* Occupies 70% of the width */
  background-image: url('../images/SidePhoto.png'); /* Image from props */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
}

.cp-welcome-heading {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 5%;
}

.cp-description {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 5%;
}


.cp-container4 {
  background-color: #fff;
  width: 40%;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100%; /* Set the height of container4 to match container3 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* Ensures space between form content and buttons */
}

.cp-form-container {
  display: flex;
  flex-direction: column;
}

.cp-confirm-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.cp-icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cp-file-upload-label {
  cursor: pointer;
}

.cp-avatar-container {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(15deg, #005596 0%, #ce1127 100%); 
}

.cp-avatar-container:hover
{
  width: 7.5rem;
  height: 7.5rem;
  transition: 0.3s;
}

.cp-avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cp-hidden-input {
  display: none;
}

.cp-form-section {
  margin-bottom: 20px;
}

.cp-form-label {
  font-size: 1rem;
  color: #242424;
  margin-bottom: 0.5rem;
}

.cp-input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Add space for the icon */
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.cp-input-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.cp-input-container {
  position: relative;
}

.cp-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
  font-size: 15px;
  pointer-events: none;
}

.cp-icon-sn
{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
  font-size: 15px;
  pointer-events: none;
  animation: bounce 1.8s; /* Add bounce animation */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(-60%);
  }
  60% {
    transform: translateY(-55%);
  }
}

.cp-btn {  
  padding: 0.75rem 1rem;
  background: linear-gradient(15deg, #005596 0%, #ce1127 100%); 
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out; /* Smooth transition for all properties */
}

.cp-btn:hover {
  background: linear-gradient(15deg, #ce1127 0%, #005596 100%); 
  transform: scale(1.05); /* Slightly increase the size */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

.cp-btn:active {
  transform: scale(1); /* Reset size on click */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow on click */
}


.cp-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* Push buttons to the bottom */
  padding-top: 20px; /* Add space above the buttons */
}

