.faq-section .accordion-item {
    border: 0;
  }
  
  .faq-section .accordion-button {
    font-size: var(--h6-font-size);
    font-weight: var(--font-weight-semibold);
  }
  
  .faq-section .accordion-item:first-of-type .accordion-button {
    border-radius: var(--border-radius-large);
  }
  
  .faq-section .accordion-button:not(.collapsed) {
    border-radius: var(--border-radius-large);
    box-shadow: none;
    color: var(--primary-color);
  }
  
  .faq-section .accordion-body {
    color: var(--p-color);
    font-size: var(--btn-font-size);
    line-height: 40px;
  }
  
  .accordion-button {
    transition: color 0.3s ease;
  }
  
  .accordion-button:hover {
    color: #F9A826 !important; /* Change text color to yellow on hover */
    background-color: transparent !important;
  }
  