
.fo-footer_section .fo-widget_wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 70px;
}

@media (max-width: 767px) {
  .fo-footer_section .fo-widget_wrapper .fo-widget {
    margin-bottom: 40px;
  }
}

.fo-footer_section .fo-widget_wrapper .fo-widget .fo-widget_title {
  margin-bottom: 30px;
}

.fo-footer_section .fo-widget_wrapper .fo-widget .fo-widget_title h4 {
  font-weight: bold;
}

.fo-footer_section .fo-widget_wrapper .fo-widget .fo-widget_title h4:after {
  content: "";
  display: block;
  max-width: 38px;
  height: 2px;
  margin-top: 5px;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_about p {
  margin-bottom: 20px;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_about .fo-social li {
  display: inline-block;
  margin-right: 10px;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_about .fo-social li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background:linear-gradient(30deg, #ce1127, #005596);
  color: #ffffff;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.fo-button_box
{
  color: #feb000;
  font-size: 30px;
}

@keyframes bouncearrow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px); /* Adjust the height of the bounce */
  }
}

.foot-arrow-d {
  animation: bouncearrow 2s ease-in-out infinite; /* 2s for the duration, infinite for the loop */
}


.fo-footer_section .fo-widget_wrapper .fo-widget_about .fo-social li a:hover,
.fo-footer_section .fo-widget_wrapper .fo-widget_about .fo-social li a:focus {
  background:linear-gradient(15deg, #005596, #ce1127);
  color: #fff;
  box-shadow: 2.5px 4.33px 15px 0px rgb(254, 178, 0);
}

.fo-footer_section .fo-widget_wrapper .fo-widget_links ul li {
  margin-bottom: 5px;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_links ul li a {
  text-transform: capitalize;
  color: #7a808d;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_links ul li a:hover,
.fo-footer_section .fo-widget_wrapper .fo-widget_links ul li a:focus {
  color: #feb000;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_contact .fo-contact_info .fo-single_info {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_contact .fo-contact_info .fo-single_info .fo-icon {
  font-size: 12px;
  color: #feb000;
  margin-right: 10px;
}

.foot-icon-size-up
{
  font-size: 30px;
  color: black;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_contact .fo-contact_info .fo-single_info .fo-info p a {
  color: #7a808d;
}

.fo-footer_section .fo-widget_wrapper .fo-widget_contact .fo-contact_info .fo-single_info .fo-info p span {
  display: block;
}

.fo-footer_section .fo-copyright_area {
  background:linear-gradient(15deg, #ce1127, #005596);
  padding: 40px 0;
  
}


.fo-footer_section .fo-copyright_area .fo-copyright_text {
  text-align: center;
}

.fo-footer_section .fo-copyright_area .fo-copyright_text p {
  color: #ffffff;
}

.logo-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  perspective: 1000px; /* Gives the 3D perspective effect */
  cursor: grabbing;
}

.hover-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform; /* Optimizes performance for transform changes */
}

.logo-container:hover .hover-logo {
  transform: rotateX(15deg) rotateY(15deg); /* Tilt effect in both directions */
  box-shadow: 0 10px 20px rgba(235, 235, 235, 0.2);
}


@keyframes waveAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.fo-cta_section .fo-cta_wrapper {
  padding: 45px 50px 42px;
  max-width: 970px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: -135px;
  position: relative;
  background: linear-gradient(15deg, #ce1127, #005596);
  background-size: 200% 200%;
  animation: waveAnimation 5s infinite ease-in-out;
  box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
  z-index: 1;
}

.fo-cta_section .fo-cta_wrapper:after {
  content: "";
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.p-footer-space
{
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.gradient-light {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  pointer-events: none;
  mix-blend-mode: overlay;
  transform: translate(-50%, -50%);
  z-index: 2;
}



.fo-cta_section .fo-cta_wrapper .fo-cta_content h3 {
  color: #fff;
  font-weight: bold;
}

@media (max-width: 767px) {
  .fo-cta_section .fo-cta_wrapper .fo-cta_content h3 {
    font-size: 24px;
  }
}

.fo-cta_section .fo-cta_wrapper .fo-cta_content h3:after {
  content: "";
  display: block;
  max-width: 110px;
  height: 2px;
  margin-top: 13px;
  margin-bottom: 24px;
}

.fo-cta_section .fo-cta_wrapper .fo-cta_content p {
  color: #fff;
}

.fo-cta_section .fo-cta_wrapper .fo-button_box {
  float: right;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fo-cta_section .fo-cta_wrapper .fo-button_box {
    float: none;
    text-align: left;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .fo-cta_section .fo-cta_wrapper .fo-button_box {
    float: none;
    text-align: center;
    margin-top: 30px;
  }
}

.fo-cta_section .fo-cta_wrapper .fo-button_box .fo-cta_btn {
  background: #fff;
  color: #011a3e;
}

.fo-cta_section .fo-cta_wrapper .fo-button_box .fo-cta_btn:hover,
.fo-cta_section .fo-cta_wrapper .fo-button_box .fo-cta_btn:focus {
  box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
}
