/* Footer Background */
.site-footer {
  background: linear-gradient(15deg, #005596 0%, #ce1127 100%); /* Keep the gradient when scrolled */
  border-bottom: 1px solid rgba(128, 208, 199, 0.35); /* Border at the bottom */
  padding: 20px 0; /* Decrease the vertical padding */
}

/* Footer Title Color */
.site-footer-title {
  color: var(--primary-color);
  font-size: 1.2rem; /* Adjust the font size as needed */
}

/* Dropdown Menu Styles */
.site-footer .dropdown-menu {
  padding: 0; /* Reset padding */
}

.site-footer .dropdown-item {
  color: var(--p-color);
  font-size: 0.8rem; /* Decrease font size */
  font-weight: var(--font-weight-medium);
  padding: 4px 10px; /* Decrease padding */
}

.site-footer .dropdown-item:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.site-footer .dropdown-menu li:first-child .dropdown-item {
  padding-top: 5px; /* Decrease top padding */
}

.site-footer .dropdown-menu li:last-child .dropdown-item {
  padding-bottom: 5px; /* Decrease bottom padding */
}

.site-footer .dropdown-toggle {
  background-color: var(--secondary-color);
  border-color: var(--white-color);
}

.site-footer .dropdown-toggle:hover {
  background-color: var(--primary-color);
  border-color: transparent;
}

/* Footer Links Styling */
.site-footer-links {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove extra padding */
  margin: 0;
  text-align: left; /* Align links to the left */
}

.site-footer-link-item {
  margin-bottom: 5px; /* Decrease space between links */
}

.site-footer-linkf {
  text-decoration: none;
  color: white; /* Adjust color as needed */
  font-size: 0.8rem; /* Decrease font size */
  display: block; /* Ensure links are block elements to align vertically */
}

/* Heading Styling */
.site-footer-title {
  text-align: left; /* Align the heading with the content */
  margin-bottom: 0.5rem; /* Decrease space between heading and links */
}

/* Paragraph Text Alignment */
p.text-white {
  margin-bottom: 0.5rem; /* Space between paragraphs */
  text-align: left; /* Ensure the paragraph is aligned left */
  color: #fff; /* Text color */
  display: block; /* Make paragraph a block element */
}

/* Container Padding Adjustments */
.col-lg-3,
.col-md-4 {
  padding-left: 0; /* Ensure the content starts directly beneath the headings */
  padding-right: 0;
  margin-top: 5px;
}

.copyright-text {
  font-size: var(--copyright-font-size);
  font-size: 0.8rem; /* Decrease font size for copyright text */
}

.graduation-icon {
  font-size: 5rem; /* Adjust this value to make the icon smaller */
  color: white; /* Set the color of the icon */
}

/* Container for Footer */
.container2 {
  padding-left: 0; /* Ensure the container starts from the left */
  margin-left: 0; /* Remove any left margin */
  width: 100%; /* Ensure the footer takes the full width */
}
