@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  opacity: 1; /* Initial state */
  transition: opacity 1s ease-in-out; /* Smooth transition */
}

body.fade-out {
  opacity: 0; /* Fade out effect */
}

body.fade-out #loading-spinner {
  display: block; /* Show spinner when fading out */
}

/* Loading Spinner */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px; /* Center the spinner */
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.containers {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms-containers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signins-signups {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-forms {
  opacity: 0;
  z-index: 1;
}

form.sign-in-forms {
  z-index: 2;
}

.titles {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-fields {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-fields i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-fields input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-fields input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-texts {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-medias {
  display: flex;
  justify-content: center;
}

.social-icons {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icons:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btns {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

}

.btns:hover {
  background-color: #4d84e2;
}

.anchors
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.anchors:hover
{
  background-color: #4d84e2;
}

.panels-containers {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -350px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.containers:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.images {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panels {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panels {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panels .contents {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panels h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panels p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btns.transparents {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 20px;
}

.right-panels .images,
.right-panels .contents {
  transform: translateX(800px);
}

/* ANIMATION */


@media (max-width: 870px) {
  .containers {
    min-height: 800px;
    height: 100vh;
  }
  .signins-signups {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signins-signups,
  .containers.sign-up-modes .signins-signups {
    left: 50%;
  }

  .panels-containers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panels {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panels {
    grid-row: 3 / 4;
  }

  .left-panels {
    grid-row: 1 / 2;
  }

  .images {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panels .contents {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panels h3 {
    font-size: 1.2rem;
  }

  .panels p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btns.transparents {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .containers:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .containers.sign-up-modes:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .containers.sign-up-modes .left-panels .images,
  .containers.sign-up-modes .left-panels .contents {
    transform: translateY(-300px);
  }

  .containers.sign-up-modes .right-panels .images,
  .containers.sign-up-modes .right-panels .contents {
    transform: translateY(0px);
  }

  .right-panels .images,
  .right-panels .contents {
    transform: translateY(300px);
  }

  .containers.sign-up-modes .signins-signups {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .images {
    display: none;
  }
  .panels .contents {
    padding: 0.5rem 1rem;
  }
  .containers {
    padding: 1.5rem;
  }

  .containers:before {
    bottom: 72%;
    left: 50%;
  }

  .containers.sign-up-modes:before {
    bottom: 28%;
    left: 50%;
  }

/* Add these styles to your existing CSS file */
.radio-buttons {
  display: flex;
  justify-content: center; /* Center the radio buttons horizontally */
  margin-bottom: 40px; /* Space between the radio buttons and other elements */
  gap: 80px; /* Space between radio buttons */
}

.radio-buttons label {
  font-size: 1rem;
}

.radio-buttons input[type="radio"] {
  margin-right: 10px; /* Space between radio button and label */
}




/* Header info styling */
.header-infos {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.graduation-icons {
  font-size: 2rem; /* Adjust size as needed */
  color: #ffffff; /* Adjust color as needed */
}

.header-texts {
  text-align: center;
  color: #ffffff; /* Adjust color as needed */
  margin-top: 5px;
}

.alumni-texts {
  display: block;
  font-size: 1rem; /* Adjust size as needed */
}

.space-texts {
  display: block;
  font-size: 0.875rem; /* Adjust size as needed */
}

}
