.alumni-community { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
}

.search-bar {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 16px;
  outline: none;
}

.search-icon {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  color: #e3243c;
}

.filter-icon {

  background-color: #ffffff;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem; /* Adjust icon size */
  color: #e3243c; /* Icon color */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-icon:hover
{
  transition: 0.5s;
  color: #ffab14;
  
}

.search-button {
  background: linear-gradient(15deg, #005596 0%, #ce1127 100%); 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  margin-right: 15px;
}

.search-button:hover {
  background: linear-gradient(15deg, #ce1127 0%, #005596 100%); 
  transition: 1s;
}

.results-container {
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 40px 30px 40px;
  border-radius: 30px;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.results-container h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-results {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.fr-add-space
{
  margin-left: 10px;
}

.alumni-card {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.alumni-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;  
  margin-right: 15px;
  border: 2px solid white;
  object-fit: cover; /* Ensures the image covers the area without distorting */
}

.alumni-info .label {
  font-weight: bold;
  color: #e3243c;
  margin-right: 5px;
}

.alumni-info span {
  font-size: 15px; /* Further reduce the font size of the name and surname */
}

.alumni-info p {
  margin: 0; /* Remove default margin to reduce spacing */
  line-height: 1.5; /* Set a smaller line height */
  font-size: 14px; /* Reduce font size */
}

.view-alumni {
  margin-left: auto;
  color: #30ffec;  
  font-size: 10px;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 60px;
}

.view-alumni:hover
{
  color: #fe4f67;
}

.surname-white {
  color: white;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust as needed */
}

.graduation-hat-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  animation: rotate 1s linear infinite; /* Rotation animation */
}

/* Keyframes for rotation animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.view-alumni-add-space
{
  margin-left: 10px;
  font-size: 11px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0; /* Start invisible */
  transition: opacity 0.3s ease; /* Transition for fading */
}

.modal-overlay.fade-in {
  opacity: 1; /* Fully visible */
}

.modal-overlay.fade-out {
  opacity: 0; /* Fully invisible */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 650px; /* Fixed width */
  height: 600px; /* Fixed height */
  overflow: hidden; /* Ensure no overflow */
}

.modal-inner {
  display: flex;
  height: 100%; /* Fill the modal height */
}

.modal-photo-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alumni-name {
  position: absolute;
  top: 0px; /* Position above the photo */
  color: #000; /* Color of the name */
  font-weight: bold;
  font-size: 32px; /* Adjust font size as needed */
}

.modal-photo {
  width: 230px; /* Set photo width */
  height: 230px; /* Set photo height */
  border-radius: 50%; /* Circular frame */
  object-fit: cover; /* Cover the area of the circular frame */
  border: 5px solid #007bff; /* Optional: add border to photo */
  
}

.modal-info {
  flex: 1;
  padding-left: 20px; /* Space between photo and info */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
}

.overall-name
{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.ap-color
{
  color: #df1616;
}

.ap-color-course
{
  font-size: 16px;
  color: #df1616;
}
.ap-course
{
  font-size: 16px;
}


.linkedin-icon-link {
  color: #0077b5; /* LinkedIn brand color */
  font-size: 34px; /* Adjust icon size as needed */
  text-decoration: none; /* Remove underline */
  display: inline-flex; /* Ensures proper alignment if in a flex container */
  align-items: center; /* Vertically centers the icon */
  
}

.linkedin-icon-link:hover
{
  color: #ffab14;
}

.ap-linkedIn
{
  margin-top: 30px;
}

.ap-space-course
{
  margin-top: 10px;
}


.ap-year {
  font-size: 30px; /* Adjust if needed */
  display: flex; /* Use flexbox for horizontal alignment */
}

.ap-year-digit {
  background-color: #ffab14;
  color: white;
  padding: 5px 10px; /* Add some padding around each digit */
  margin: 0 2px; /* Add margin for spacing between digits */
  border-radius: 5px; /* Optional: add some border radius for rounded corners */
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
