/* Custom block styling */
.custom-block {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
  height: 100%;
}

/* Image styling */
.custom-block a .magimg {
  display: block;
  width: 100%;
  max-width: 315px; /* Set a smaller width */
  height: 400px; /* Adjust the height as needed */
  margin: 10px auto; /* Centers the image horizontally */
}

/* Badge styling */
.custom-block .rounded-pill {
  border-radius: 5px !important;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 20px;
}

/* Description text styling */
.description-text {
  color: gray !important;
  font-size: 0.99rem;
  margin-bottom: 0.5rem;
  text-align: left !important; /* Ensures text aligns to the left */
  /* margin-left: 0; Removes any left margin */
  display: block; /* Ensures the element takes up full width */
}

.sub-description {
  color: rgb(219, 20, 20) !important;
  font-size: 0.8em;
  margin-bottom: 8px;
  text-align: left; /* Aligns text to the left */
  /* margin-left: 0; Removes any left margin */
  display: block; /* Ensures full-width alignment */
}

/* Ensuring the container aligns its contents to the start */
.custom-block .d-flex {
  justify-content: flex-start !important; /* Forces alignment to the start */
  align-items: flex-start; /* Aligns items at the top if they’re in rows */
  text-align: left !important;
  margin-left: 0; /* Removes any extra space */
  padding-left: 0; /* Ensures no padding pushes items to the right */
}

/* ========================Historical Archives=========================================*/
/* Styling the paragraph with grey text */
#hist {
  color: grey;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Centering the years (h5 tags) */
#historicalarchives-tab-pane h5 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Media Query for responsive styling */
@media (max-width: 768px) {
  /* Adjusting the paragraph font size for smaller screens */
  #hist {
    font-size: 14px;
  }

  /* Ensuring the years are still centered on smaller screens */
  #historicalarchives-tab-pane h5 {
    font-size: 18px;
  }
}


/* Tabs styling */
.nav-tabs .nav-link {
  font-size: 1rem;
  color: #333;
}

.nav-tabs .nav-link.active {
  color: #fff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tabs button {
    font-size: 1rem;
    margin: 0 10px;
  }

  .custom-block a .magimg {
    max-width: 100%;
  }
}
